* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header {
    background-color: rgb(10, 68, 10);
    color: #fff;
    padding: 36px;
}
h1 {
    font-size:350%;

}
.container {
    max-width: 1280px;
    width: 100%;
    margin : auto auto;
    background-color: rgb(10, 68, 10);
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(10, 68, 10);
}
header nav li {
    display: inline;
    margin-right: 30px;
    font-size: 150%;
    color: #fff;
    background-color: rgb(10, 68, 10);
}
header nav li a {
    color: #fff;
    background-color: rgb(10, 68, 10);
}
section {
    font-size: larger;
    display: flex;
    background-color: #aff188;
}
section p {
    margin-top: 40px;
    margin-right: 55px;
    font-size: larger;
}

.imgbesouro,
.imgmariposa,
.imgformiga {
    width: 40%;
    margin: 30px 30px;
    height: 40%;
    min-width: 40%;
    background-color: rgb(10, 68, 10);
    border-radius: 5%;
}
h2{
margin: 35px 35px;
color: #285e0a;
font-size: 210%;


}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
}

h2,h1,h3,a{
    font-family: "Anton", sans-serif;
}
h1 {
    letter-spacing: 3px;
}

p{
background-color: #baf59c;}

#sujestao .sujestao{
    display: block;

}
form input, form textarea,form button {
    display: block;
    margin-left: 50px;
    width: 500px;
    margin-bottom: 10px;
    padding: 8px;
    height: 50px;
    font-size: 120%;
}
textarea,form textarea {
    resize: none;
    height:300px;
    font-size: 170%;

}
form button{
    background-color: #285e0a;
    margin-bottom: 200px;
}

h3{
    margin: 45px 45px;
    color: #285e0a;
    font-size: 270%;
}

footer{
    background-color: #1c4e05;
    color: #ecf0f1;
    padding: 16px;
    
}
footer p {
    background-color: #1c4e05;
    margin-left: 600px;
    font-size:26px;
}


